NODE_ENV=development
PORT=3000
MONGO_URI=mongodb://localhost:27017/user-portal
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=1d
FRONTEND_URL=http://localhost:5173
SWAGGER_SERVERS=http://localhost:3000/api,https://api.example.com/api


# AWS

AWS_REGION=sample_data
AWS_ACCESS_KEY_ID=sample_data
AWS_SECRET_ACCESS_KEY=sample_data
AWS_S3_BUCKET_NAME=sample_data
AWS_S3_BUCKET_FOLDER=folder